six
future
numpy==1.22.1
dill==0.3.4
h5py==3.1.0
idna==2.10
igraph==0.9.9
joblib==1.0.1
lshashpy3==0.0.8
matplotlib
networkx==2.6.3
pandas==1.4.1
python-igraph==0.9.9
python-louvain==0.15
pytz==2021.3
scikit-learn==0.24.1
scipy==1.7.3
seaborn==0.11.1
tensorboard==1.15.0
torch==1.11
tqdm==4.58.0
urllib3==1.26.3
wwl==0.1.2
yacs==0.1.8
