numpy
ogb
seaborn
tensorboard
scipy
torch
torchviz
networkx
pytorch-lightning[extra]
igraph
wwl @ git+https://github.com/cgoliver/WWL.git 
jsonargparse[signatures]
deepsnap
lshashpy3 @ git+https://github.com/loretoparisi/lshash.git
torch_geometric
torch_scatter
torch_sparse
