numpy
ogb
seaborn
torchviz
tensorboard
scipy
torch
networkx
pytorch-lightning[extra]
igraph
wwl @ git+https://github.com/cgoliver/WWL.git 
jsonargparse[signatures]
deepsnap
lshashpy3 @ git+https://github.com/loretoparisi/lshash.git
